.form {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: $bg-color;

  &--confirm {
    width: 400px;
    padding: 30px 20px;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
    margin: 2px 0;
  }
  ::-webkit-scrollbar-thumb {
    background: $main-bg-color;
    border-radius: 20px;
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    width: 355px;
    padding: 20px;

    &--confirm {
      width: 340px;
      padding: 25px 15px;
    }
  }

  &__input {
    margin: 0 0 10px;

    &--category {
      margin-bottom: 40px;
    }

    &--note {
      margin: 5px 0px 20px;
    }

    &:focus {
      outline: none;
    }
  }

  &__container-category-priority {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;

    @media only screen and (max-width: $breakpoint-mobile) {
      justify-content: space-around;
    }
  }

  &__category,
  &__priority {
    display: flex;
    flex-direction: column;
    width: 48%;
  }

  &__category-select,
  &__priority-select,
  &__notification-select {
    display: block;
    margin-left: 10px;
    padding: 5px 8px;
    font-family: $font-family;
    font-size: 0.9rem;
    font-weight: 300;
    background-color: $bg-color;
    border: 1px solid $main-color;
    border-radius: $border-radius-x-small;

    @media only screen and (max-width: $breakpoint-mobile) {
      margin-left: 5px;
    }
  }

  &__category-btn,
  &__priotity-btn,
  &__notification-btn {
    font-family: $font-family;
    font-size: 0.9rem;
    font-weight: 300;
  }

  &__notification-select {
    margin: 10px 10px 20px;
  }

  &__title {
    display: flex;
    margin: 5px 0px 10px;
    padding: 0 10px 5px;
    border-bottom: 1px solid $main-color;
    justify-content: space-between;

    &--category,
    &--priority,
    &--preview,
    &--check,
    &--delete {
      margin: 5px 0;
      border-bottom: none;
    }

    &--check,
    &--delete {
      justify-content: center;
      text-align: center;
    }

    &--category,
    &--priority {
      @media only screen and (max-width: $breakpoint-mobile) {
        padding: 0 5px;
      }
    }

    &--description {
      border: 1px solid $main-color;
      border-radius: $border-radius-x-small;
      padding: 10px;
      height: 200px;
      overflow: visible;
      white-space: normal;
      overflow-y: auto;
    }

    &--preview-category {
      border-bottom: 1px solid $main-color;
    }
  }

  &__description--note {
    border: 1px solid $main-color;
    border-radius: $border-radius-x-small;
    width: 100%;
    padding: 10px 10px 3px;
    font-size: 0.9rem;
    height: 222px;

    line-height: 1.3rem;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &--view {
      display: block;
      -webkit-line-clamp: unset;
      line-clamp: unset;
      -webkit-box-orient: unset;
      overflow: visible;
      white-space: normal;
      overflow-y: auto;
    }
  }

  &__container-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &--confirm {
      padding-top: 15px;
    }
  }

  &__notification-btn {
    font-size: 0.9rem;
    margin: 3px;
    padding: 6px 18px;
  }

  &__reminders {
    display: flex;
    flex-direction: column;
  }

  &__reminders-date {
    margin-left: 5px;
  }

  &__end-day,
  &__title-notification {
    margin: 3px 10px;
  }

  &__container-notification {
    justify-content: start;
  }

  &__reminders-checkbox {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    accent-color: $main-bg-color;
    // gap: 0.5em;
  }

  &__container-preview-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__preview-btn {
    margin: 5px 10px 15px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__check-box {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%230c0b0b' d='m9.55 15.88l8.802-8.801q.146-.146.344-.156t.363.156t.166.357t-.165.356l-8.944 8.95q-.243.243-.566.243t-.566-.243l-4.05-4.05q-.146-.146-.152-.347t.158-.366t.357-.165t.357.165z' stroke-width='0.5' stroke='%230c0b0b'/%3E%3C/svg%3E");
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
  &__edit-document {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%230c0b0b' d='M13.654 20.192V19.12q0-.161.056-.3q.055-.14.186-.271l5.09-5.065q.148-.13.308-.19q.16-.062.32-.062q.165 0 .334.064q.17.065.298.194l.925.944q.123.148.188.308q.064.159.064.319t-.061.322t-.19.31l-5.066 5.066q-.131.13-.27.186q-.14.056-.302.056h-1.073q-.348 0-.577-.23q-.23-.23-.23-.578m6.884-5.132l-.925-.945zm-6 5.056h.95l3.468-3.474l-.925-.963l-3.493 3.487zM6.616 21q-.691 0-1.153-.462T5 19.385V4.615q0-.69.463-1.152T6.616 3h7.213q.323 0 .628.13t.522.349L18.52 7.02q.217.218.348.522t.131.628v1.675q0 .214-.143.357q-.144.143-.357.143t-.357-.143T18 9.846V8h-3.192q-.349 0-.578-.23T14 7.192V4H6.616q-.231 0-.424.192T6 4.615v14.77q0 .23.192.423t.423.192h4.154q.214 0 .357.143t.143.357t-.143.357t-.357.143zM6 20V4zm12.506-3.852l-.475-.47l.925.964z' stroke-width='0.5' stroke='%230c0b0b'/%3E%3C/svg%3E");
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
  &__delete-forever {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%230c0b0b' d='M7.616 20q-.672 0-1.144-.472T6 18.385V6h-.5q-.213 0-.357-.143T5 5.5t.143-.357T5.5 5H9q0-.31.23-.54t.54-.23h4.46q.31 0 .54.23T15 5h3.5q.214 0 .357.143T19 5.5t-.143.357T18.5 6H18v12.385q0 .67-.472 1.143q-.472.472-1.143.472zM17 6H7v12.385q0 .269.173.442t.443.173h8.769q.269 0 .442-.173t.173-.442zM7 6v13zm5 7.208l2.246 2.246q.14.14.344.15t.364-.15t.16-.354t-.16-.354L12.708 12.5l2.246-2.246q.14-.14.15-.344t-.15-.364t-.354-.16t-.354.16L12 11.792L9.754 9.546q-.14-.14-.344-.15t-.364.15t-.16.354t.16.354l2.246 2.246l-2.246 2.246q-.14.14-.15.344t.15.364t.354.16t.354-.16z' stroke-width='0.5' stroke='%230c0b0b'/%3E%3C/svg%3E");
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__btn-preview {
    align-self: flex-end;
    width: auto;
  }

  &__textarea {
    font-family: $font-family;
    font-weight: 300;
    border: 1px solid $main-color;
    border-radius: $border-radius-x-small;
    width: 100%;
    height: 200px;
    resize: none;
    margin-bottom: 20px;
    padding: 10px;

    &--task {
      height: 120px;
    }
  }
}
