.notes {
  padding: 20px 20px 10px;

  @media only screen and (max-width: $breakpoint-mobile) {
    padding: 10px 10px 10px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__note {
    display: flex;
    height: 220px;
    width: 280px;
    margin: 5px 10px;
    padding: 10px 15px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(12, 11, 11, 1);
      -moz-box-shadow: 0px 0px 5px 0px rgba(12, 11, 11, 1);
      box-shadow: 0px 0px 5px 0px rgba(12, 11, 11, 1);
    }

    @media only screen and (max-width: $breakpoint-mobile) {
      height: 220px;
      width: 280px;
      margin: 5px auto;

      &:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }

  &__note-title {
    font-size: $fs-small-title;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__note-description {
    line-height: 1.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
  }
}
